*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: rgb(16, 16, 16);
}

.container a{
    color: #fff;
    border: 2px solid #fff;
    padding: 2rem 5rem;
    position: relative;
    overflow: hidden;
    transition: all 1s;
}

.container a:before{
    content: "DOWNLOAD";
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a:hover:before{
    transform: translateY(0);
}

